.comments {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #efefef;
}

.comment {
  margin: 0 0 5px;
}
.comment p > :first-child {
  margin-right: 6px;
}
.comment p > :last-child {
  margin-left: 6px;
}

.comment .remove-comment {
  opacity: 0;
  transition: opacity 0.3s;
}
.comment:hover .remove-comment {
  opacity: 1;
}

.comment-form {
  margin: 15px 0 0;
}
.comment-form input {
  width: 100%;
  margin: 0 0 5px;
}
