.comments {
  margin-top: $commentsSpacing;
  padding-top: $commentsSpacing;
  border-top: 1px solid $commentsBorderColor;
}

.comment {
  margin: 0 0 $commentSpacing;

  p > :first-child {
    margin-right: 6px;
  }
  p > :last-child {
    margin-left: 6px;
  }

  .remove-comment {
    opacity: 0;
    transition: opacity $transitionSpeed;
  }
  &:hover .remove-comment {
    opacity: 1;
  }
}

.comment-form {
  margin: $commentsSpacing 0 0;

  input {
    width: 100%;
    margin: 0 0 $commentSpacing;
  }
}
