footer {
  color: $footerColor;
  padding: 0 20px;
  flex-grow: 0;
  order: 2;

  .footer-inner {
    font-size: $footerFontSize;
    font-weight: $footerFontWeight;
    text-transform: uppercase;
    max-width: 935px;
    padding: 38px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;

    a {
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
