* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity $transitionSpeed;
}
button {
  background: none;
  outline: none;
  cursor: pointer;
}
a:hover,
button:hover {
  opacity: 0.8;
}

html, body, #app-root {
  height: 100%;
}

body, button, input, textarea {
  font-family: $baseFontFamily;
  font-weight: $baseFontWeight;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
}

input {
  display: block;
  outline: none;
}

[hidden] {
  display: none !important;
}

body {
  background: $backgroundColor;
}
