$baseFontFamily: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$baseFontWeight: normal;
$baseFontSize: 15px;
$baseLineHeight: 18px;

$backgroundColor: #fafafa;

$transitionSpeed: 0.3s;

$photoBackgroundColor: #fff;
$photoBorderColor: #efefef;

$commentsBorderColor: #efefef;
$commentsSpacing: 15px;
$commentSpacing: 5px;

$navbarBackgroundColor: #fff;
$navbarBorderColor: #dbdbdb;
$navbarColor: #34495e;
$navbarHeight: 77px;

$footerColor: #999;
$footerFontSize: 12px;
$footerFontWeight: bold;
