footer {
  color: #999999;
  padding: 0 20px;
  flex-grow: 0;
  order: 2;
}

footer > .footer-inner {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  max-width: 935px;
  padding: 38px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

footer > .footer-inner a {
  margin: 0 10px;
}
footer > .footer-inner a:first-child {
  margin-left: 0;
}
footer > .footer-inner a:last-child {
  margin-right: 0;
}
