@font-face {
  font-family: 'billabongregular';
  src: url("../fonts/billabong-webfont.eot");
  src: url("../fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'),
       url("../fonts/billabong-webfont.woff") format('woff'),
       url("../fonts/billabong-webfont.ttf") format('truetype'),
       url("../fonts/billabong-webfont.svg#billabongregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

nav {
  background: #fff;
  border-bottom: 1px solid #dbdbdb;
  height: 77px;
  flex-grow: 0;
  order: 0;
}

nav .nav-inner {
  width: 100%;
  max-width: 1010px;
  padding: 26px 40px;
  margin: 0 auto;
  color: #34495e;
}

nav a.nav-logo {
  font-size: 27px;
  font-family: billabong, 'billabongregular';
}
nav a.nav-logo img {
  width: 28px;
  height: auto;
  border-radius: 5px;
  vertical-align: sub;
  margin-right: 15px;
}
